
.icon-folder:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-msgs:before { content: '\e802'; } /* '' */
.icon-lyceum:before { content: '\e803'; } /* '' */
.icon-msg:before { content: '\e804'; } /* '' */
.icon-config:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */